.navbar_menu {
  width: 3rem;
  height: 3rem;
  background: transparent;
  border: none;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-right: 2rem;
  cursor: pointer;
}

.navbar_menu span {
  display: block;
  width: 3rem;
  height: 2.5px;
  background: white;
}

.mainnav_title {
  color: white;
}

.mainnav_title a {
  text-decoration: none;
  color: white;
}



