.home_page_container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 90vh;

}
.home_page_container p {
  color: black;
}

.login_register {
  border-style: none;
  background-color: transparent;
  padding: 6px;
}

.login_register:hover {
  cursor: pointer;
}

.login_register:active {
  background-color: white;
  color: #3D3D3F;
}

