.chart_container {
  width: 180px;
  height: auto;
  margin: 0 auto;
  margin-right: 130px;
  position: relative;
  text-align: center;
  margin-bottom: 10px;
}
.chart_container h3 {
  font-size: 18px;
  font-weight: 300;
}