.register_form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  background-color: #CBD2EA;
  padding: 20px;
  width: 50vw;
  border-radius: 4px;
}

.firstname, .lastname, .reg_email, .reg_password, .role, .team {
  border-style: none;
  margin: 5px;
  padding: 8px;
  width: 300px;
  box-shadow: rgba(0, 0, 0, 0.1) 2px 3px 8px;
}

::placeholder {
  color: gray;
}

.checkbox_wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-bottom: 10px;
  color: white;
  font-weight: bold;
}

.submit {
  box-shadow: rgba(0, 0, 0, 0.1) 2px 3px 8px;
  background-color: #C4C4C4;
  border: 1px solid #FFFFFF;
  width: 150px;
  color: #FFFFFF;
  height: 30px;
}

.submit:active {
  background-color: #3D3D3F;
  color:#FFFFFF;
}

.submit:hover {
  background-color: #FFFFFF;
  color: #C4C4C4;
  border: 1px solid #C4C4C4;
  cursor: pointer;
  transition: all .3s ease;
}

.admin {
  margin-left: 10px;
  margin-top: 5px;
}

