@import url('https://fonts.googleapis.com/css2?family=Sora:wght@200;300;700&display=swap');

.mainnav_title {
font-family: 'Sora', sans-serif;
text-shadow: 0px 3px 3px #3D3D3F;
margin-right: 8rem;
}
.navbar_menu {
  width: 3rem;
  height: 3rem;
  background: transparent;
  border: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-right: 2rem;
  cursor: pointer;
}

.navbar_menu span {
  display: block;
  width: 3rem;
  height: 2.5px;
  background: white;
}

.mainnav_title {
  color: white;
}

.mainnav_title a {
  text-decoration: none;
  font-weight: 700;
  color: white;
}



