.add_task_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #CBD2EA;
  color: white;
  margin-right: 10px;
  border-radius: 4px;
  height: 50vh;
  box-shadow: rgba(0, 0, 0, 0.1) 2px 3px 8px;
}

.add_task_container p {
  text-align: center;
}

.add_task_form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 60vh;
  height: 30vh;
}

.urgent_tasks{
  display: flex;
  flex-direction: row;
  width: 35vw;
  justify-content: space-evenly;
  align-items: center;
}

.add_task {
  border-style: none;
  margin: 5px;
  padding: 10px;
  box-shadow: rgba(0, 0, 0, 0.1) 2px 3px 8px;
}

.submit_task_btn {
  box-shadow: rgba(0, 0, 0, 0.1) 2px 3px 8px;
  background-color: #C4C4C4;
  border: 1px solid #FFFFFF;
  width: 150px;
  color: #FFFFFF;
  height: 30px;
  transition: all .3s ease;
}

.submit_task_btn:active {
  background-color: #3D3D3F;
  color:#FFFFFF;
}

.submit_task_btn:hover {
  background-color: #FFFFFF;
  color: #C4C4C4;
  border: 1px solid #C4C4C4;
  cursor: pointer;
}

