.user_greeting_container{
  display: flex;
  flex-direction: column;
  align-items: center;
  
}
.user_greeting_container h2 {
  font-weight: 500;
  letter-spacing: 1px;
  margin: 0;
}

.user_greeting_container span {
  text-decoration: underline;
}
.user_info_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
  height: 20vh;
}

.user_info_container h5{
  font-weight: 300;
}

.update_user_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width:60vw;
  padding: 10px 60px 10px 60px;
  border-radius: 4px;
  background-color: #CBD2EA;
  box-shadow: rgba(0, 0, 0, 0.1) 2px 3px 8px;
}


.update_user_container form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px;
}

.update_user_location{
  padding: 10px;
  width: 35vw;
  border-style: none;
}

.submit_user_update {
  box-shadow: rgba(0, 0, 0, 0.1) 2px 3px 8px;
  background-color: #C4C4C4;
  border: 1px solid #FFFFFF;
  width: 150px;
  color: #FFFFFF;
  height: 30px;
  margin-top: 10px;
}

.submit_user_update:hover {
  background-color: #FFFFFF;
  color: #C4C4C4;
  border: 1px solid #C4C4C4;
  cursor: pointer;
}

.submit_user_update:active {
  background-color: #3D3D3F;
  color:#FFFFFF;
}




